body { background: #fbefb7; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 46px; display: flex; }
.block-payment-0 { color: #134565; font-size: 17px; margin-bottom: 5px; }
.block-product-1 { color: #384b24; font-size: 13px; margin-bottom: 5px; }
.block-auth-2 { color: #e1406e; font-size: 13px; margin-bottom: 5px; }
.block-sms-3 { color: #c9ffa3; font-size: 19px; margin-bottom: 5px; }
.block-config-4 { color: #4a4bdc; font-size: 16px; margin-bottom: 5px; }
.block-cart-5 { color: #36d220; font-size: 19px; margin-bottom: 5px; }
.block-filter-6 { color: #df6020; font-size: 19px; margin-bottom: 5px; }
.block-cache-7 { color: #b607f; font-size: 16px; margin-bottom: 5px; }